body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;

}

.header {
  background-image: url(../img/bannerpizza.jpg);
  background-repeat: round;
  width: 100vw;
  height: 55vh;
}

.bg-darkgray {
  background-color:rgb(20, 20, 20);
}

.eye {
  width: 20px;
  padding-bottom: 2px;
  padding-left: 5px;
}

.cart {
  width: 20px;
  padding-bottom: 2px;
  padding-left: 5px;
  fill: white;
}

.cartpage{
  width: 40px;
  padding-bottom: 9px;
  margin-right:15px ;
  fill: rgba(255, 255, 255, 0.821);

}

.cartnav {
  width: 25px;
  padding-bottom: 2px;
  padding-right: 7px;
  fill: white;
}

.pizza {
  width: 25px;
  padding-bottom: 5px;
  padding-right: 7px;
  fill: white;
}

.userlock{
  width: 25px;
  padding-bottom: 5px;
  padding-right: 7px;
  fill: white;
}

.inputs{
  margin-bottom: 15px;
}

.formicons{
  width: 45px;
  padding-bottom: 10px;
  padding-right: 10px;
  fill: white;
}

.profileicon{
  width: 35px;
  padding-bottom: 10px;
  padding-right: 10px;
  fill: white;
}

.ingredientes-lista {
  list-style: none;
  padding: 0px;
  display: inline;
}

.ingredientes-lista li {
  display: inline;
}

.ingredientes-lista li::after {
  content: ", ";
}

.ingredientes-lista li:last-child::after {
  content: "";
}

.notfound{

  height: 83.3vh;
  width: 100vw;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover  ;
  background-image: url("../img/404pizza.png");
}

.notfoundlink{
  width:100vw ;
}

.trashcan{
  fill: white;
  width: 18px;
  padding-bottom: 3px;
}

@media (min-width: 1025px) {
  .h-custom {
  height: 100vh !important;
  }
  }
  
  .card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: .75em;
  padding-right: .75em;
  }
  
  .card-registration .select-arrow {
  top: 13px;
  }

